@media screen and (max-width:1082px) {
    :root {
        --background-color: #d2d5da;
        --font-color1: #1d1b1b;
        --font-color2: #f5f5f5;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Belleza", sans-serif;
        color: var(--font-color1);
        text-align: center;
    }

    /*HEADER*/
    header {
        padding: 1rem;
    }

    /*MAIN*/
    /*SITE NAME*/
    .site-name {
        background-color: var(--background-color);
        padding: .75rem;
        height: 8rem;
    }

    .site-name h3 {
        font-size: 70px;
    }

    /*SITE PURPOSE*/
    .site-purpose {
        padding: 3rem 0 8rem 0;
    }

    /*GRID CONTAINER*/
    .grid-container {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        padding: 1rem;
    }

    /*SCENARIOS*/
    .scenarios ul li {
        text-align: center;
        padding: .5%;
        list-style: none;
    }

    /*GRID CONTAINER2*/
    .grid-container2 {
        display: grid;
        padding: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 1rem;
        width: 90%;
        margin: 0 5%;
        text-align: justify;
    }

    /*COLOR SCHEMA*/
    .color-schema h3,
    p {
        color: var(--font-color1);
    }

    .color-schema h3 {
        margin: 0 35%;
    }

    .color-schema button {
        background-color: var(--font-color1);
        color: var(--font-color2);
        border: none;
        width: 90px;
        border-radius: 4px;
        padding: 6px 14px;
        grid-row: 3 / 4;
        margin: 0 35%;
    }

    .color-schema p:nth-child(3) {
        grid-row: 2 / 3;
    }

    .color-schema p:nth-child(4) {
        grid-row: 2 / 3;
        margin: 0 35%;
    }

    .color-schema p:nth-child(5) {
        grid-row: 3 / 4;
    }

    .color-schema p:nth-child(7) {
        grid-row: 4 / 5;
    }

    .color-schema .background-color {
        background-color: var(--background-color);
        border: 1px solid black;
        width: 90px;
        margin: 0 35%;
        grid-row: 4 / 5;
    }

    .color-schema .background-color2 {
        background-color: white;
        border: 1px solid black;
        width: 90px;
        margin: 0 35%;
        grid-row: 4 / 5;
    }

    /*TYPOGRAPH*/
    .typograph {
        padding-top: 8rem;
    }

    .typograph h3 {
        padding: 3rem;
        font-size: 40px;
    }

    /*WIREFRAME*/
    .wireframe {
        padding-top: 8rem;
    }

    .flex-container div:nth-child(1) {
        padding-bottom: 2rem;
    }

    .wireframe h3 {
        padding: 1rem;
    }

    /*FOOTER*/
    footer {
        height: 5rem;
        padding: 2rem;
        margin-top: 1rem;
        background-color: var(--background-color);
    }
}