@media only screen and (min-width: 64rem) {

    body {
        display: grid;
        grid-template-rows: 100px 38.39px auto 114.17px;
        height: 100vh;
    }

    /******************HEADER****************/
    header {
        grid-template-columns: 44px auto;
    }

    /******************HAMBURGUER****************/
    .hamburguer {
        display: none;
    }

    /******************NAVIGATION****************/
    .navigation {
        display: block;
    }
    .navigation ul{
        display: flex;
        background-color: #2e2e2e;
        border: 1px solid black;
        list-style-type: none;
    }
    .navigation a {
        padding: .5rem .75rem;
    }

    /******************MAIN****************/
    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
    main h1 {
        grid-column: 1 / 4;
    }
    .about {
        grid-column: 1 / 3;
    }
    .certificate {
        grid-column: 1 / 4;
    }
    .photo {
        grid-template-columns: 8% auto 8%;
    }
}